<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>984546387047-cf6q3qjcv3lfk170ke29mid5rutj8ou2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.984546387047-cf6q3qjcv3lfk170ke29mid5rutj8ou2</string>
	<key>API_KEY</key>
	<string>AIzaSyBQJzjUkZBMk132oICs9jbTJjybczKiR2g</string>
	<key>GCM_SENDER_ID</key>
	<string>984546387047</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ru.adelgainutdinov.Networking</string>
	<key>PROJECT_ID</key>
	<string>networking-bd60f</string>
	<key>STORAGE_BUCKET</key>
	<string>networking-bd60f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:984546387047:ios:2d89482f8c2d71e1eae0c2</string>
</dict>
</plist>